#search
  select.ui.fluid.search.selection.dropdown(onchange='location = this.options[this.selectedIndex].value')
    option(value='') Select a Pokemon!
    each mon in pokemon
      option(value=`/${mon.id}`) #{mon.name}

  script.
    $('.ui.dropdown').dropdown();