#viewer
  .ui.segments
    .ui.center.aligned.segment
      h1.ui.huge.header #{selected.id} - #{selected.name}
    .ui.segment
      .ui.two.column.divided.stackable.grid
        .row
          .column
            img(src=`http://assets.pokemon.com/assets/cms2/img/pokedex/full/${selected.id}.png`)
          .column
            .ui.dividing.header Type
            .ui.dividing.header Weaknesses
            .ui.dividing.header Resistances
            .ui.dividing.header Immunities
    .ui.center.aligned.segment Fork me on 
      a(href='https://github.com/keawade/pokedata-express', target='_blank') GitHub
